.App {
  background-color: #c0b8ab;
  text-align: center;
}

.header{
  background-color: #4170cd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.skroll{
  box-shadow: #282c34, 20px;
  border-style: dashed;
  border-radius: 10%;
  border-color: #282c34;
  width: 50%;
  overflow-y: auto;
  height: 400px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
margin-bottom: 130px;
}

.footer{
  background-color: #4170cd;
  display: flex;
color: azure;
  justify-content: center;
}
